
CREATE OR REPLACE VIEW public.v_project_financial_position WITH (security_invoker = true) AS
WITH
latest_vendor_claims AS (
    SELECT DISTINCT ON (c.party_id, c.project_id)
        c.project_id,
        vct.claim_cumulative_total    AS gross_in_system,
        vct.claim_cumulative_retained AS retained_in_system,
        vct.total_due_this_claim
    FROM public.claims c
    JOIN public.v_claim_totals vct ON vct.claim_id = c.id
    WHERE c.status     = 'approved'
      AND c.claim_type = 'vendor'
    ORDER BY c.party_id, c.project_id, c.claim_number DESC
),
latest_owner_claims AS (
    SELECT DISTINCT ON (c.party_id, c.project_id)
        c.project_id,
        vct.claim_cumulative_total    AS gross_in_system,
        vct.claim_cumulative_retained AS retained_in_system,
        vct.claim_cumulative_payable  AS payable_in_system,
        vct.total_due_this_claim
    FROM public.claims c
    JOIN public.v_claim_totals vct ON vct.claim_id = c.id
    WHERE c.status     = 'approved'
      AND c.claim_type = 'owner'
    ORDER BY c.party_id, c.project_id, c.claim_number DESC
),
proj_claims_agg AS (
    SELECT
        project_id,
        SUM(gross_in_system)    AS vendor_billed,
        SUM(retained_in_system) AS vendor_retained
    FROM latest_vendor_claims
    GROUP BY project_id
),
owner_claims_agg AS (
    SELECT
        project_id,
        SUM(total_due_this_claim) AS owner_billed,
        SUM(gross_in_system)    AS owner_gross,
        SUM(retained_in_system) AS owner_retained,
        SUM(payable_in_system)  AS owner_payable
    FROM latest_owner_claims
    GROUP BY project_id
),
invoices_agg AS (
    SELECT project_id, SUM(total) AS invoice_total
    FROM public.invoices
    WHERE status = 'approved'
    GROUP BY project_id
),
expenses_agg AS (
    SELECT project_id, SUM(amount) AS total_employee_expenses
    FROM public.expenses
    WHERE status = 'approved'
      AND project_id IS NOT NULL
    GROUP BY project_id
),
vendor_claim_payments AS (
    SELECT
        c.project_id,
        COALESCE(SUM(vcp.paid_amount), 0) AS paid_in_system
    FROM public.claims c
    JOIN public.v_claim_paid vcp ON vcp.claim_id = c.id
    WHERE c.claim_type = 'vendor'
      AND c.status     = 'approved'
    GROUP BY c.project_id
),
owner_claim_payments AS (
    SELECT
        c.project_id,
        COALESCE(SUM(vcp.paid_amount), 0) AS paid_in_system
    FROM public.claims c
    JOIN public.v_claim_paid vcp ON vcp.claim_id = c.id
    WHERE c.claim_type = 'owner'
      AND c.status     = 'approved'
    GROUP BY c.project_id
),
invoice_payments AS (
    SELECT
        i.project_id,
        COALESCE(SUM(vip.paid_amount), 0) AS paid
    FROM public.invoices i
    JOIN public.v_invoice_paid vip ON vip.invoice_id = i.id
    WHERE i.status = 'approved'
    GROUP BY i.project_id
),
retention_releases_agg AS (
    SELECT project_id, SUM(amount) AS retention_released
    FROM public.retention_releases
    WHERE claim_type = 'vendor'
    GROUP BY project_id
),
retention_release_payments AS (
    SELECT
        r.project_id,
        COALESCE(SUM(vrp.paid_amount), 0) AS paid
    FROM public.retention_releases r
    JOIN public.v_retention_paid vrp ON vrp.retention_id = r.id
    WHERE r.claim_type = 'vendor'
    GROUP BY r.project_id
),
prior_vendor_claims_agg AS (
    SELECT
        vpc.project_id,
        SUM(vpc.prior_certified_amount) AS total_prior_certified,
        SUM(vpc.prior_paid_amount)      AS total_prior_paid,
        SUM(vpc.prior_retention_held)   AS total_prior_retention,
        SUM(vpc.prior_retention_released) AS total_prior_retention_released
    FROM public.vendor_prior_claims vpc
    WHERE NOT EXISTS (
        SELECT 1 FROM public.claims c0
        WHERE c0.party_id = vpc.vendor_id
          AND c0.project_id = vpc.project_id
          AND c0.claim_type = 'vendor'
          AND c0.claim_number = 0
          AND c0.status = 'approved'
    )
    GROUP BY vpc.project_id
),
inventory_value AS (
    SELECT project_id, SUM(qty_on_hand * average_cost) AS total_value
    FROM public.v_stock_levels
    GROUP BY project_id
),
project_opening AS (
    SELECT
        ob.project_id,
        ob.cutoff_date,
        ob.prior_expenses,
        ob.prior_owner_income,
        ob.prior_owner_dues
    FROM public.project_opening_balances ob
    JOIN public.projects p ON p.id = ob.project_id
    WHERE NOT EXISTS (
        SELECT 1 FROM public.claims c
        WHERE c.party_id = p.owner_id
          AND c.project_id = ob.project_id
          AND c.claim_type = 'owner'
          AND c.claim_number = 0
          AND c.status = 'approved'
    )
)
SELECT
    p.id AS project_id,
    (
        COALESCE(oa.owner_billed, 0) +
        COALESCE(po.prior_owner_dues, 0)
    ) AS total_income,
    
    (
        COALESCE(ca.vendor_billed, 0) +
        COALESCE(ia.invoice_total, 0) +
        COALESCE(ea.total_employee_expenses, 0) +
        COALESCE(pva.total_prior_certified, 0)
    ) AS total_expenses,
    
    (
        (COALESCE(oa.owner_billed, 0) + COALESCE(po.prior_owner_dues, 0)) -
        (COALESCE(ca.vendor_billed, 0) + COALESCE(ia.invoice_total, 0) + COALESCE(ea.total_employee_expenses, 0) + COALESCE(pva.total_prior_certified, 0))
    ) AS balance,
    
    (
        COALESCE(ca.vendor_retained, 0) +
        COALESCE(pva.total_prior_retention, 0) -
        COALESCE(rra.retention_released, 0)
    ) AS current_retention_held,
    
    COALESCE(iv.total_value, 0) AS inventory_asset_value,
    
    CASE WHEN po.project_id IS NOT NULL THEN true ELSE false END AS has_opening_balance,
    po.cutoff_date AS opening_cutoff_date,
    COALESCE(po.prior_expenses, 0) AS prior_expenses,
    COALESCE(po.prior_owner_income, 0) AS prior_owner_income,
    COALESCE(po.prior_owner_dues, 0) AS prior_owner_dues,
    
    (
        COALESCE(op.paid_in_system, 0) +
        COALESCE(po.prior_owner_income, 0)
    ) AS owner_total_collected,
    
    (
        COALESCE(vp.paid_in_system, 0) +
        COALESCE(ip.paid, 0) +
        COALESCE(rp.paid, 0) +
        COALESCE(pva.total_prior_paid, 0)
    ) AS total_cash_paid,

    -- NEW COLUMNS FOR OWNER BREAKDOWN
    COALESCE(oa.owner_gross, 0) AS owner_claims_gross,
    COALESCE(oa.owner_retained, 0) AS owner_claims_retained,
    COALESCE(oa.owner_payable, 0) AS owner_claims_payable
    
FROM public.projects p
LEFT JOIN proj_claims_agg ca ON ca.project_id = p.id
LEFT JOIN owner_claims_agg oa ON oa.project_id = p.id
LEFT JOIN invoices_agg ia ON ia.project_id = p.id
LEFT JOIN expenses_agg ea ON ea.project_id = p.id
LEFT JOIN retention_releases_agg rra ON rra.project_id = p.id
LEFT JOIN vendor_claim_payments vp ON vp.project_id = p.id
LEFT JOIN owner_claim_payments op ON op.project_id = p.id
LEFT JOIN invoice_payments ip ON ip.project_id = p.id
LEFT JOIN retention_release_payments rp ON rp.project_id = p.id
LEFT JOIN prior_vendor_claims_agg pva ON pva.project_id = p.id
LEFT JOIN inventory_value iv ON iv.project_id = p.id
LEFT JOIN project_opening po ON po.project_id = p.id;

